@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Open Sans", sans-serif;
	background: hsl(210, 36%, 96%);
	color: hsl(209, 61%, 16%);
	line-height: 1.5;
	font-size: 0.875rem;
}

.first-header {
	min-height: 100vh;
	position: relative;
	display: none;
	justify-content: center;
}
.video-container {
	background-color: #222;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;

	object-fit: contain;
	z-index: -2;
}
#descriptive {
	text-align: center;
	font-size: 2.7rem;
	position: relative;
	top: 5rem;
	color: #c59d5f;
	font-family: "Great Vibes", cursive;
}
#descriptive::after {
	display: block;
	content: "Our mission is to simply make you feel home.";
	font-size: .7rem;
	font-family: "Roboto", sans-serif;

	color: #c59d5f;
}

#descriptive::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4rem;
	background: rgba(0, 0, 0, 0.4);
	z-index: -1;
	display: none;
}
@media screen and (min-width: 800px) {
	.first-header {
		display: flex;
	}
	#descriptive {
		font-size: 2.9rem;
		top: 6rem;
	}
	#descriptive::before {
		display: block;
	}
	#descriptive::after {
		font-size: .9rem;
		color: #fff;
	}
	.video-container {
		object-fit: cover;
	}
}

.customersFAQ {
	width: 100%;
	min-height: 100vh;
	background-color: hsl(210, 36%, 96%);
	background-image: url(./images/bg.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: hsl(209, 61%, 16%);
}
img {
	display: block;
	width: 100%;
}

h1,
h2,
h3,
h4 {
	letter-spacing: .25rem;
	text-transform: capitalize;
	line-height: 1.25;
	margin-bottom: 0.75rem;
	font-family: "Roboto", sans-serif;
}
h1 {
	font-size: 3rem;
}
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.25rem;
}
h4 {
	font-size: 0.875rem;
}
p {
	margin-bottom: 1.25rem;
	color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
	h1 {
		font-size: 4rem;
	}
	h2 {
		font-size: 2.5rem;
	}
	h3 {
		font-size: 1.75rem;
	}
	h4 {
		font-size: 1rem;
	}
	body {
		font-size: 1rem;
	}
	h1,
	h2,
	h3,
	h4 {
		line-height: 1;
	}
}

.section {
	padding: 5rem 0;
}
.menu {
	padding: 5rem 0;
}
.title {
	text-align: center;
	margin-bottom: 2rem;
}
.titleTwo {
	padding-top: 15vh;
	margin-bottom: 4rem;
}
.titleTwo h2 {
	color: #c59d5f;
	font-family: "Great Vibes", cursive;
	text-align: center;
}
.underline {
	width: 5rem;
	height: 0.25rem;
	background: #c59d5f;
	margin-left: auto;
	margin-right: auto;
}
.btn-container {
	margin-bottom: 4rem;
	display: flex;
	justify-content: center;
}
.filter-btn {
	background: transparent;
	font-size: .86rem;
	border: #c59d5f solid 1px;
	text-transform: capitalize;
	margin: 0 0.2rem;
	letter-spacing: 1px;
	border-radius: .5rem;
	padding: 0.175rem 0.35rem;
	color: #c59d5f;
	cursor: pointer;
	transition: all .3s linear;
	outline: 0;
}
.filter-btn:hover {
	background: #c59d5f;
	color: #fff;
}
.section-center {
	width: 90vw;
	margin: 0 auto;
	max-width: 1170px;
	display: grid;
	gap: 3rem 2rem;
	justify-items: center;
}
.sectionTwo {
	width: 90vw;
	margin: 0 auto;
	max-width: 620px;
}
.menu-item {
	display: grid;
	gap: 1rem 2rem;
	max-width: 25rem;
}
.photo {
	object-fit: cover;
	height: 200px;
	border: 0.25rem solid #c59d5f;
	border-radius: .5rem;
}
.item-info header {
	display: flex;
	justify-content: space-between;
	border-bottom: 0.5px dotted hsl(210, 22%, 49%);
}
.item-info h4 {
	margin-bottom: 0.5rem;
}
.price {
	color: #c59d5f;
}
.item-text {
	margin-bottom: 0;
	padding-top: 1rem;
}

@media screen and (min-width: 768px) {
	.menu-item {
		grid-template-columns: 225px 1fr;
		gap: 0 1.25rem;
		max-width: 40rem;
	}
	.photo {
		height: 175px;
	}
	.sectionTwo {
		width: 95vw;
		max-width: 1000px;
	}
	.filter-btn {
		padding: .375 .75rem;
		margin: 0 0.5;
		font-size: 1rem;
	}
}
@media screen and (min-width: 1200px) {
	.section-center {
		width: 95vw;
		grid-template-columns: 1fr 1fr;
	}
	.photo {
		height: 150px;
	}
	.titleTwo {
		padding-top: 15vh;
		margin-bottom: 4rem;
	}
}
.question {
	background: #fff;
	border-radius: .5rem;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	padding: 1.5rem 1.5rem 0 1.5rem;
	margin-bottom: 2rem;
}
.question-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
	padding-bottom: 1rem;
}
.question-title p {
	margin-bottom: 0;
	letter-spacing: .2rem;
	color: hsl(209, 61%, 16%);
}
.question-btn {
	font-size: 1.5rem;
	background: transparent;
	border-color: transparent;
	cursor: pointer;
	color: #c59d5f;
	transition: all 0.3s linear;
	outline: 0;
}
.question-btn:hover {
	transform: rotate(180deg);
}
.question-text {
	padding: 1rem 0 1.5rem 0;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.question-text p {
	margin-bottom: 0;
}

.question-text {
	display: none;
}
.minus-icon {
	display: none;
}
.show-text .question-text {
	display: block;
}
.show-text .minus-icon {
	display: inline;
}
.show-text .plus-icon {
	display: none;
}
